# Basic Python - Looping

## 1. For Looping

In [1]:
# membuat sequences
fruits = ["Pisang", "Anggur","Apel", "Stroberi"]
print(fruits)

['Pisang', 'Anggur', 'Apel', 'Stroberi']

In [2]:
# Do for loop
for x in fruits:
    print(f"nama buah: {x}")

nama buah: Pisang
nama buah: Anggur
nama buah: Apel
nama buah: Stroberi

### Range Method

In [3]:
himpunan_bil = range(10)

In [5]:
for i in himpunan_bil:
    print(f"Bilangan ke-{i}")

Bilangan ke-0
Bilangan ke-1
Bilangan ke-2
Bilangan ke-3
Bilangan ke-4
Bilangan ke-5
Bilangan ke-6
Bilangan ke-7
Bilangan ke-8
Bilangan ke-9

In [6]:
bilangan = range(1, 11)

In [7]:
for x in bilangan:
    print(f"bilangan ke-{x}")

bilangan ke-1
bilangan ke-2
bilangan ke-3
bilangan ke-4
bilangan ke-5
bilangan ke-6
bilangan ke-7
bilangan ke-8
bilangan ke-9
bilangan ke-10

In [9]:
numbers = range(2, 52, 2) #(start, stop, selisih)

In [10]:
for x in numbers:
    print(f"Bilagan ke-{x}")

Bilagan ke-2
Bilagan ke-4
Bilagan ke-6
Bilagan ke-8
Bilagan ke-10
Bilagan ke-12
Bilagan ke-14
Bilagan ke-16
Bilagan ke-18
Bilagan ke-20
Bilagan ke-22
Bilagan ke-24
Bilagan ke-26
Bilagan ke-28
Bilagan ke-30
Bilagan ke-32
Bilagan ke-34
Bilagan ke-36
Bilagan ke-38
Bilagan ke-40
Bilagan ke-42
Bilagan ke-44
Bilagan ke-46
Bilagan ke-48
Bilagan ke-50

### While Loop

In [30]:
i = 1

In [31]:
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

### Continue

In [34]:
bil = range(51)

In [35]:
for x in bil:
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

### Break

In [36]:
for x in bil:
    if x == 25:
        break
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [42]:
input_bil = int(input("Masukkan bilangan yang ingin dicari: "))
print(f"Kamu akan mencari {input_bil}, tunggu yah")
for x in bil:
    print("Mencari....")
    if x == input_bil:
        print(f"Selamat, bilangan {x} berhasil ditemukan!")
        break

Masukkan bilangan yang ingin dicari: 7
Kamu akan mencari 7, tunggu yah
Mencari....
Mencari....
Mencari....
Mencari....
Mencari....
Mencari....
Mencari....
Mencari....
Selamat, bilangan 7 berhasil ditemukan!

### Nested Loop

In [43]:
for i in range(2):
    for j in range(3):
        print("i:{},j:{}".format(i,j),end="")
    print()

i:0,j:0i:0,j:1i:0,j:2
i:1,j:0i:1,j:1i:1,j:2

In [45]:
li = [
    ["Zaki", "Rahmat", "Budi", "Susi"],
    ["Indonesia", "Mesir", "Turki", "Swiss"]
]

In [46]:
for x in li:
    for i in x:
        print(f"Hasil: {i}")
    print()

Hasil: Zaki
Hasil: Rahmat
Hasil: Budi
Hasil: Susi

Hasil: Indonesia
Hasil: Mesir
Hasil: Turki
Hasil: Swiss

#### Quiz

In [48]:
# What is output from this code:
a = [1,2,3,4,5]
b = [2,4,3,5,6]
c = 0

for i in a:
    for j in b:
        if i == j:
            c = c + 1
print(c)

4

In [49]:
q = [1,2,3,4,5]
r = [2,4,3,5,6]
s = 0

for i in q:
    for j in r:
        if i == j:
            print(f"i:{i}, j:{j}")
            s=s+1
            print(s)
print(f"The answer is {s}")

i:2, j:2
1
i:3, j:3
2
i:4, j:4
3
i:5, j:5
4
The answer is 4